* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: myFont;
  src: url(Kalpurush.ttf);
}
body {
  display: flex;
  justify-content: center;
  font-family: myFont;
  background: linear-gradient(to bottom, #008bda, #02448f);
  min-height: 100vh;
}

#container {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gaz {
  
}
.gas-bg {
  position: relative;
  height: 200px;
  width: 300px;
 
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  height: 100px;
  border-right: 2px solid #fff;
}
.border {
  width: 100%;
  height: 2px;
  background-color: #fcfc54;
  margin: 10px 0;
}
.identity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 20px;
  margin-top: 20px;
}

.identity-text {
  color: white;
  font-family: myFont;
}
.identity-text p {
  font-size: 20px;
}
.identity-text h3 {
  font-size: 22px;
}
.identity-text h4 {
  font-size: 18px;
  font-weight: 300;
}
.bengali {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4e88bd;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
  text-align: center;
}
.bengali h2 {
  font-size: 18px;
}
.bengali h3 {
  font-size: 22px;
  color: #ffff09;
}
.bengali h4 {
  font-size: 16px;
  font-weight: 400;
}

.gas-bg img {
  position: absolute;
  z-index: -1;

  width: 300px;
}
.gas-text {
  position: absolute;
  right: 20px;
  bottom: 10px;
  top: 32px;
}
.order {
  margin: 40px 0 0 0;
  color: white;
  font-size: 16px;
}
button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 5px 20px;
  background-color: transparent;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 60px;
}
button:hover {
  background-color: white;
  color: #4d1373;
  border-color: #4d1373;
}

.name {
  font-size: 18px;
}

.weight {
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}
.border-pr {
  height: 1px;
  background-color: rgb(156, 154, 154);
  width: full;
  margin: 2px 0;
}
.mrp {
  font-size: 20px;
}
.mrp span {
  font-weight: bold;
}

a {
  text-decoration: none;
}
.tabs {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #64a2ff;
  padding: 10px;
}
.tab {
  color: white;
  cursor: pointer;
  border: 1px solid white;
  padding: 4px 5px 0 5px;
  border-radius: 5px;
}
.tab.active {
  background-color: white;
  color: #4d1373;
  border-color: #4d1373;
}
.content {
  display: none;
}
.content.active {
  display: block;
}
#user {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid gray;
}
#user h3 {
  text-align: center;
}
#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid gray;
  padding: 20px;
}
.login-form input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.login-form button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.edit-price {
  display: none;
  margin-top: 20px;
}
.edit-price input {
  padding: 10px;
  width: 100px;
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
